@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700;800&display=swap');

body {
  font-family: 'Public Sans', sans-serif;
  box-sizing: border-box;
}

/* Custom CodeMirror Styles */
.cm-editor {
  background-color: #444654; /* Background color */
  color: white; /* Text color */
  font-size: 14px; /* Font size */
}

.ͼ1 .cm-gutters {
  background-color: #444654; /* Background color */
}

.cm-gutter > .cm-gutterElement {
  background-color: #444654; /* Background color */
  color: white; /* Text color */
  font-size: 14px; /* Font size */
}

/* .ͼ1 {

} */
